/*
  ========================================
  Universal
  ========================================
*/

html,
body {
  width: 100%;
  height: 100%;
  font-family: 'Open Sans','Helvetica Neue',Arial,sans-serif;
}
p {
  font-size: 16px;
  line-height: 1.5;
}

/*
  ========================================
  Buttons
  ========================================
*/

.btn-primary {
  border-color: #868686;
  color: #fff;
  margin-top: 30px;
  background-color: #868686;
  -webkit-transition: all .35s;
  -moz-transition: all .35s;
  transition: all .35s;
}

.highlight {
  border-color: #4ea24e;
  color: #fff;
  background-color: #4ea24e;
}

.btn-primary:hover,
.btn-primary:focus,
.btn-primary.focus,
.btn-primary:active,
.btn-primary.active,
.open > .dropdown-toggle.btn-primary {
  border-color: #4ea24e;
  color: #fff;
  background-color: #4ea24e;
}
.btn {
  border-radius: 300px;
  text-transform: uppercase;
}
.btn-lg {
  padding: 15px 30px;
}
.submit {
  background: #d3d3d3;
}

/*
  ========================================
  Header
  ========================================
*/

header {
  position: relative;
  width: 100%;
  min-height: auto;
  text-align: center;
  color: #fff;
  background-image: url('../images/background.jpg');
  background-position: center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
}

header .header-content {
  position: relative;
  width: 100%;
  padding: 100px 15px 70px;
  text-align: center;
}
header .header-content .header-content-inner {
  background: #000;
  opacity: 0.7;
  border-radius: 5px;
  margin-top: 10px;
}

header .header-content .header-content-inner h1 {
  margin-top: 0;
  margin-bottom: 30px;
  font-weight: 300;
}
header .header-content .header-content-inner h2 {
  margin-top: 0;
  margin-bottom: 30px;
  font-size: 80px;
  font-weight: 300;
}

header .header-content .header-content-inner p {
  margin-bottom: 50px;
  font-size: 16px;
  font-weight: 300;
  color: #fff;
}
#down-arrow {
  font-size: 62px;
  font-weight: 700;
}

@media(min-width:768px) {
  header {
    min-height: 100%;
  }

  header .header-content {
    position: absolute;
    top: 50%;
    padding: 0 50px;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
  }

  header .header-content .header-content-inner {
    margin-right: auto;
    margin-left: auto;
    max-width: 1000px;
  }

  header .header-content .header-content-inner h1 {
    font-size: 100px;
  }

  header .header-content .header-content-inner p {
    margin-right: auto;
    margin-left: auto;
    max-width: 80%;
    font-size: 18px;
  }
}

/*
  ========================================
  Navigation
  ========================================
*/

.navbar-default {
  background-color: #fff;
  -webkit-transition: all .35s;
  -moz-transition: all .35s;
  transition: all .35s;
}
.navbar-default .nav > li.active>a,
.navbar-default .nav>li.active>a:focus {
  color: #868686!important;
  background-color: transparent;
}
.navbar-default .nav > li.active>a:hover,
.navbar-default .nav>li.active>a:focus:hover {
  background-color: transparent;
}

a {
  color: #d3d3d3;
  -webkit-transition: all .35s;
  -moz-transition: all .35s;
  transition: all .35s;
}

@media(min-width:768px) {
  .navbar-default {
    border-color: rgba(255,255,255,.3);
    background-color: transparent;
  }

  .navbar-default .navbar-header .navbar-brand {
    color: #dcdcdc;
    letter-spacing: 0.5em;
  }

  .navbar-default .navbar-header .navbar-brand:hover,
  .navbar-default .navbar-header .navbar-brand:focus {
    color: #fff;
  }

  .navbar-default .nav > li>a,
  .navbar-default .nav>li>a:focus {
    color: #fff;
  }

  .navbar-default .nav > li>a:hover,
  .navbar-default .nav>li>a:focus:hover {
    color: #fff;
  }

  .navbar-default.affix {
    border-color: #fff;
    background-color: #fff;
    box-shadow: 0px 7px 20px 0px rgba(0,0,0,0.1);
  }

  .navbar-default.affix .navbar-header .navbar-brand {
    letter-spacing: 0;
    color: #646464;
  }

  .navbar-default.affix .navbar-header .navbar-brand:hover,
  .navbar-default.affix .navbar-header .navbar-brand:focus {
    color: #eb3812;
  }

  .navbar-default.affix .nav > li>a,
  .navbar-default.affix .nav>li>a:focus {
    color: #222;
  }

  .navbar-default.affix .nav > li>a:hover,
  .navbar-default.affix .nav>li>a:focus:hover {
    color: #d3d3d3;
  }
}
.open > .dropdown-toggle.btn-default {
  border-color: #eee;
  color: #222;
  background-color: #eee;
}
.open > .dropdown-toggle.btn-default {
  background-image: none;
}

/*
  ========================================
  Body
  ========================================
*/

.row {
  margin: 20px 0 20px 0;
  border-top: 1px solid #d3d3d3;
  padding-top: 20px;
}
.row:first-child {
  margin: 0;
  border-top: none;
}
#about-header {
  margin-top: 0;
  margin-bottom: 20px;
}
.about {
  color: #fff;
  background-color: #868686;
  padding: 70px 0;
  text-align: center;
}
#text-light {
  color: rgba(255,255,255,.7);
}
.content {
  padding: 100px 0;
}
ul {
  margin: 0;
  padding: 0;
}


/*
  ========================================
  Footer
  ========================================
*/

.page-footer {
  text-align: center;
  background: url('../images/footer.jpg');
}
.page-footer .contact {
  padding: 100px 0;
  background-color: #d3d3d3;
  color: #fff;
}
.page-footer .contact p {
  font-size: 22px;
  font-weight: 300;
}
#temp {
  margin-top: 25px;
  opacity: .94;
}
#contact-header {
  color: #868686;
  padding: 10px;
}	
.content-3 .glyphicon,	
.page-footer .contact .glyphicon {
	font-size: 32px;
	font-weight: 700;
}
.page-footer .small-print {
	padding: 50px 0 40px;
  color: #fff;
	font-weight: 300;
}

/*
  ========================================
  Thankyou Page
  ========================================
*/

.thanks {
  background-position: center;
  background-image: url('../images/thanks.jpg'); 
  background-size: cover;
  height: auto;
  left: 0;
  min-height: 100%;
  min-width: 100%;
  position: absolute;
  top: 0;
  width: auto;
}
.thanks .message {
  background: #fff;
  padding: 0 0 10px 0;
  opacity: .74;
}
